@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,300;1,600&display=swap');
.homePage{
    background: url(../../images/Image/Rectangle\ 1.png);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.644);
    padding-top: 5%;
    padding-bottom: 5.5%;
    background-size: 100%;
    height: 100vh;
}
.homeMainPortion h1, .homeMainPortion p{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.SelectedPlace{
    padding-left: 30px;
    padding-top: 20px;
}
.SelectedPlace h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
}
.headerImg{
    display: flex;
    justify-content: space-between;
}
.selectedItem{
    border: 4px solid orange;
}
.headerImg  img{
    width: 90%;
    background: linear-gradient(0.12deg, #000000 0.1%, rgba(0, 0, 0, 0) 69.96%);
    border-radius: 20px;
}
.headerImg > img:hover{
    box-sizing: border-box;
    border: 4px solid orange;
    overflow: hidden;
}
.logo{
    width: 100px;
    color: white;
    margin: 0px;
    filter: invert(100%);
}
.myNavStyle{
    background-color: rgba(240, 248, 255, 0) !important;
}
.mySearchStyle{
    background-color: rgba(255, 255, 255, 0.239) !important;
    width: 20rem !important;
}
.navLinks{
    color: white !important;
}
.myBtn{
    background-color: rgb(255, 166, 0);
    border: 1px solid rgb(255, 166, 0);
    border-radius: 5px;
    padding: 5px 20px;
}
.homeMainPortion{
    padding: 50px 0px;
    padding-top: 5rem;
    margin: 0px;
}
.toggleBtn{
    font-size: 30px;
    width: 55px;
    height: 55px;
    border: 1px solid white;
    border-radius: 50%;
}
.toggleBtn:hover{
    background-color: orange; 
}
.toggleBtn:nth-child(2){
    margin-left: 20px;
}
.controls{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}